/* ======== CONFIGURAÇÕES GERAIS ======== */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e9f5ec; /* verde bem claro */
    color: #333;
    margin: 0;
    padding: 0;
}

/* ======== TÍTULO ======== */
h1 {
    text-align: center;
    color: #1b7a3d; /* verde escuro */
    margin-top: 30px;
}

/* ======== FORMULÁRIO ======== */
form {
    background-color: #ffffff;
    width: 80%;
    max-width: 700px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* ======== FIELDSETS ======== */
fieldset {
    border: 2px solid #1b7a3d;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
}

legend {
    font-weight: bold;
    color: #1b7a3d;
    padding: 0 8px;
}

/* ======== CAMPOS ======== */
p {
    margin: 10px 0;
}

input, select {
    padding: 8px;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 4px;
}

/* ======== BOTÃO ======== */

#botao {
    text-align: center;
    margin-bottom: 20px;
}

input[type="radio"] {
    width: auto;
    margin-left: 5px;
}

input[type="checkbox"] {
    width: auto;
    margin-left: 5px;
}

input[type="submit"] {
    background-color: #1b7a3d;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

/* Efeito hover no botão */
input[type="submit"]:hover {
    background-color: #289e4f;
}

/* ======== RODAPÉ ======== */
footer {
    text-align: center;
    background-color: #1b7a3d;
    color: white;
    padding: 10px;
    margin-top: 30px;
    font-size: 14px;
}